html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}

body {
  background-color: rgb(88, 107, 219);
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  min-height: 100vh;
}

.pricing-img {
  margin-bottom: 30px;
  max-width: 100%;
}

.panel {
  background-color: white;
  width: 100%;
  max-width: 960px;
  border-radius: 10px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

.pricing-plan {
  border-bottom: 1px solid whitesmoke;
}

#corr {
  width: 95%;
}

.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-header {
  color: gray;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 1.5em;
}

.pricing-features {
  color: blue;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid whitesmoke;
  padding: 15px 0;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 1em;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid whitesmoke;
}

.pricing-price {
  color: blue;
  font-size: 1.5em;
  display: block;
  font-weight: bolder;
}

.pricing-button {
  border: 1px solid rgb(39, 245, 149);
  border-radius: 25px;
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  color: black;
  margin: 25px 0;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: blueviolet;
  box-shadow: 3px 3px 10px blueviolet;
}

.pricing-button-is-featured {
  border: 1px solid rgb(39, 245, 149);
  background-color: rgb(39, 245, 149);
  text-decoration: none;
  margin: 25px 0;
  color: black;
  border-radius: 25px;
  display: inline-block;
  padding: 15px 25px;
}



.pricing-button-is-featured:hover,
.pricing-button-is-featured:focus {
  box-shadow: 5px 2px 15px rgb(39, 245, 149);
}

@media (min-width: 961px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid whitesmoke;
    padding: 25px 50px;
  }
  .pricin-plan:last-child {
    border-right: none;
  }
}
