body { background-color: #f5d9d5; font-family: "Nunito", sans-serif;}

#mainNavBar .navbar-brand { color:#EA1C2C; }
#mainNavBar .nav-link {color: white;}
#mainNavBar .nav-link:hover {color:#EA1C2C;}
#mainNavBar {font-size: 1.5em; font-weight: 100;}
.fightShow {font-weight: 100; color: #EA1C2C; font-size: 2.5em;}
#text1 span {color: #EA1C2C;}
#text1 h2 {font-size: 3em; font-weight: 200;}
.lead {font-size: 1.0em; font-weight: 100; line-height:1.7;}
.content {margin-top: 100px; margin-bottom: 100px;}
footer {color: #EA1C2C;}

@media (max-width:1200px)  {
 #text1 h2 {font-size: 2.5em; font-weight: 100;} }
